{% extends "base.html" %}
{% block content %}
<div class="patients-patient-wrapper">
  <div class="container centered-div">
    <div class="jumbotron">
      <div class="row">
        <div class="col-12 col-md-4 text-center pic">
          <svg class="bi bi-person-fill" width="20em" height="20em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          </svg>          
        </div>
        <div class="col-12 col-md-8 text-center user-info">
          <h1>{{patient.first_name}} {{patient.last_name}}</h1>
          <h5>Doctors: 
            {% for user in patient.users.all() %}
              {{user.username}}
            {% endfor %}
          </h5>
          <h5>Contact Information: {{patient.email}}</h5>
          <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
              <a><btn class="btn btn-warning">Edit</btn></a>
              <a href="{{url_for('patients.delete', id=patient.id)}}"><btn class="btn btn-danger">Delete</btn></a>
            </div>
            <div class="col-4"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}