body {
  background-image: url('/static/images/background.jpg');
  background-size:cover;
  background-position:center;
  background-attachment:fixed;
  height:100vh;
}

.centered-div {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}

/* ------- base.html -------*/
.navbar {
  font-size:1.2rem;
  letter-spacing:.15rem;
}

.navbar .navbar-brand {
  font-size:1.7rem !important;
  font-weight:700;
}

.navbar-nav li {
  padding-right: 1.3rem;
}

/* ------- core/index.html -------*/
.margin-top {
  margin-top:1rem;
}

/* ------- auth/register.html -------*/
.register-form .btn {
  text-align:center;
  font-weight:500;
}

/* ------- patients/add.html -------*/
.patients-list-wrapper {
  height:100%;
  width:100%;
}

.patients-list-wrapper .row {
  margin:2%;
}

.patients-list-wrapper .form {
  border-right:solid black 1px;
}

.patients-list-wrapper .card {
  margin-bottom:20px;
}

.patient-add-form .btn {
  font-weight:500;
}

.patient-add-form .btn-wrapper {
  margin-top:30px;
  text-align:center;
}
/* ------- month.html -------*/
.month {
  height:100%;
  width:100%;
  border: solid black 1px;
  display:flex;
  flex-direction:column;
}

.month-wrapper .week-header {
  display:flex;
  flex:0.1;
  border: solid black 1px;
}

.month-wrapper .weeks {
  display:flex;
  flex-direction:column;
  flex:2;
}

.month-wrapper .weeks .week {
  flex:1;
  display:flex;
}

.month-wrapper .day-wrapper {
  flex:1;
  border: solid #b8b8b8 1px;
}

.notification {
  width:100%;
  border: solid black 1px;
  background-color:#8cd3ff;
}

/* ------- week.html -------*/
.week-wrapper {
  height:100%;
  width:100%;
  border: solid black 1px;
  display:flex;
  flex-direction:column;
}

.week-wrapper .week-header {
  display:flex;
  flex:0.1;
  border: solid black 1px;
}

.week-wrapper .week {
  flex:1;
  display:flex;
}

.week-wrapper .day-wrapper {
  flex:1;
  border: solid #b8b8b8 1px;
}

/* ------- _week_header.html -------*/
.week-header .day-header {
  flex:1;
  border: solid #b8b8b8 1px;
}

/* ------- macros.html -------*/
.day-wrapper .date {
  display:none;
}