body {
  background-image: url('/static/images/background.jpg');
  background-size:cover;
  background-position:center;
  background-attachment:fixed;
  height:100vh;
  font-family: 'Heebo', sans-serif;
}

.centered-div {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}

.bold {
  font-weight:bold;
}

a {
  text-decoration:none;
  color:black;
}

a:hover {
  text-decoration:none;
  color:#555;
}

.margin {
  margin:20px;
}

/* ------- base.html -------*/
.navbar {
  font-size:1.2rem;
  letter-spacing:.15rem;
}

.navbar .navbar-brand {
  font-size:1.7rem !important;
  font-weight:700;
}

.navbar-nav li {
  padding-right: 1.3rem;
}

/* ------- core/index.html -------*/
.margin-top {
  margin-top:1rem;
}

/* ------- auth/register.html -------*/
.register-form .btn {
  text-align:center;
  font-weight:500;
}

/* ------- patients/add.html -------*/
.patients-list-wrapper {
  height:100%;
  width:100%;
}

.patients-list-wrapper .row {
  margin:2%;
}

.patients-list-wrapper .form {
  border-right:solid black 1px;
}

.patients-list-wrapper .card {
  margin-bottom:20px;
}

.patient-add-form .btn {
  font-weight:500;
}

.patient-add-form .btn-wrapper {
  margin-top:30px;
  text-align:center;
}

.patients-list-wrapper .pagination {
    display:flex;
    justify-content:center;
}

/* ------- patients/patient.html -------*/
.patients-patient-wrapper .user-info {
  display:flex;
  flex-direction:column;
  justify-content:center;
}

/* ------- treatments/list.html -------*/
.treatments-list-wrapper .pagination {
    display:flex;
    justify-content:center;
    margin-top:30px;
}


/* ------- patient_notes/list.html -------*/
.note-date {
  float:right;
}

.note-date .date {
  text-align:right;
  font-size:0.7rem;
  color:#696969;
}

.note-author {
  font-weight:bold;
}

ul.notes {
  list-style-type: none;
  padding:0;
  margin:16px 0px 0px 0px;
}

ul.notes li.note {
  margin-left:32px;
  padding:8px;
  border-bottom: 1px solid #696969;
}

ul.notes li.note:nth-child(1) {
  border-top:1px solid #696969;
}

ul.notes li.note:hover {
  background-color: #f0f0f0;
}

div.note-content {
  margin-left: 48px;
  min-height:48px;
}

.patient-notes-list-wrapper .pagination {
    display:flex;
    justify-content:center;
    margin-top:20px;
}

.patient-notes-list-wrapper .header btn {
  margin-bottom:20px;
}

.patient-notes-list-wrapper h1 {
  display:inline;
}

/* ------- appointments/list.html -------*/
.messages {
  color:red;
}

/* ------- appointments/_appointment_filter_form.html -------*/
.filter-form {
  padding:15px;
}

/* ------- core/users.html -------*/
.core-search-users-wrapper .pagination {
    display:flex;
    justify-content:center;
}

.user_patients {
  margin-left:20px;
  margin-right:20px;
}

.general-info {
  margin-left:20px;
  margin-right:20px;
}

.core-user-wrapper .user_patient {
  width:100%;
  background:rgba(255,255,255,0.5);
  padding:18px;
  margin:6px 0;
  overflow:hidden;
}

.core-user-wrapper .user_patient {
  width:100%;
  background:rgba(255,255,255,0.5);
  padding:18px;
  margin:6px 0;
  overflow:hidden;
}

.core-user-wrapper .col-12 {
  margin-bottom:37px;
}

.core-user-wrapper h4 {
  font-weight:700;
}

/* appointments/list.html*/
.appointments-list-wrapper {
  margin:20px;
}

/* ------- treatment_tables/table.html -------*/
.table {
  border:solid black 1px;
}

.table-header {
  display:grid;
  grid-template-columns:5fr 5fr 5fr 5fr 1fr;
}

.table-header div {
  text-align:center;
  text-decoration:bold;
  border:solid black 1px;
}

.table-contents {
  display:grid;
  grid-template-columns:5fr 5fr 5fr 5fr 1fr;
  grid-auto-rows:50px;
}

.table-contents div {
  overflow:hidden;
  display:flex;
  align-items:center;
  border:solid black 1px;
}

.table-contents .remove-button {
  justify-content:center;
  border:none;
}
.table-contents .remove-button button {
  border:none;
}

#add-entry-form {
  display:grid;
  grid-template-columns:5fr 5fr 5fr 5fr 1fr;
  grid-template-rows:50px;
}

#add-entry-form select {
  height:100%;
  width:100%;
}

#add-entry-form input {
  height:100%;
  width:100%;
}

#add-entry-form div {
  overflow:hidden;
}

.tools button {
  border:none;
}