body {
  background-image: url('/static/images/background.jpg');
  background-size:cover;
  background-position:center;
  background-attachment:fixed;
  height:100vh;
  font-family: 'Heebo', sans-serif;
}

.centered-div {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}

.bold {
  font-weight:bold;
}

a {
  text-decoration:none;
  color:black;
}

a:hover {
  text-decoration:none;
  color:#555;
}

.margin {
  margin:20px;
}

/* ------- base.html -------*/
.navbar {
  font-size:1.2rem;
  letter-spacing:.15rem;
}

.navbar .navbar-brand {
  font-size:1.7rem !important;
  font-weight:700;
}

.navbar-nav li {
  padding-right: 1.3rem;
}

/* ------- core/index.html -------*/
.margin-top {
  margin-top:1rem;
}

/* ------- auth/register.html -------*/
.register-form .btn {
  text-align:center;
  font-weight:500;
}

/* ------- patients/add.html -------*/
.patients-list-wrapper {
  height:100%;
  width:100%;
}

.patients-list-wrapper .row {
  margin:2%;
}

.patients-list-wrapper .form {
  border-right:solid black 1px;
}

.patients-list-wrapper .card {
  margin-bottom:20px;
}

.patient-add-form .btn {
  font-weight:500;
}

.patient-add-form .btn-wrapper {
  margin-top:30px;
  text-align:center;
}

.patients-list-wrapper .pagination {
    display:flex;
    justify-content:center;
}

/* ------- patients/patient.html -------*/
.patients-patient-wrapper .user-info {
  display:flex;
  flex-direction:column;
  justify-content:center;
}

/* ------- treatments/list.html -------*/
.treatments-list-wrapper .pagination {
    display:flex;
    justify-content:center;
    margin-top:30px;
}


/* ------- patient_notes/list.html -------*/
.note-date {
  float:right;
}

.note-date .date {
  text-align:right;
  font-size:0.7rem;
  color:#696969;
}

.note-author {
  font-weight:bold;
}

ul.notes {
  list-style-type: none;
  padding:0;
  margin:16px 0px 0px 0px;
}

ul.notes li.note {
  margin-left:32px;
  padding:8px;
  border-bottom: 1px solid #696969;
}

ul.notes li.note:nth-child(1) {
  border-top:1px solid #696969;
}

ul.notes li.note:hover {
  background-color: #f0f0f0;
}

div.note-content {
  margin-left: 48px;
  min-height:48px;
}

.patient-notes-list-wrapper .pagination {
    display:flex;
    justify-content:center;
    margin-top:20px;
}

.patient-notes-list-wrapper .header btn {
  margin-bottom:20px;
}

.patient-notes-list-wrapper h1 {
  display:inline;
}

/* ------- appointments/list.html -------*/
.messages {
  color:red;
}

/* ------- appointments/_appointment_filter_form.html -------*/
.filter-form {
  padding:15px;
}

/* ------- calendars/_week_header.html -------*/
.day-wrapper {
  border:solid #2F4F4F 2px;
  height:75vh;
  width:45vw;
  margin:auto;
  margin-bottom:30px;
}

.week-header .day-header {
  flex:1;
  border: solid #2F4F4F 1px;
}

/* ------- calendars/_month.html -------*/
.month-wrapper {
  height:100%;
  width:100%;
  margin-bottom:30px;
}

.month {
  height:100%;
  width:100%;
  border: solid black 1px;
  display:flex;
  flex-direction:column;
}

.month-wrapper .week-header {
  display:flex;
  flex:0.1;
  border: solid black 1px;
}

.month-wrapper .weeks {
  display:flex;
  flex-direction:column;
  flex:2;
}

.month-wrapper .weeks .week {
  flex:1;
  display:flex;
}

.month-wrapper .day {
  flex:1;
  border: solid #2F4F4F 1px;
}

.month-wrapper .create-appointment-btn {
  font-weight:700;
}

/* ------- calendars/_day.html -------*/
.day-wrapper .notification {
  font-size:1.7em;
}
.day-wrapper .day-num {
  font-size:2em;
  font-weight:bold;
}

/* ------- Appointments Colors -------*/
.blue {
  background-color:#8cd3ff;
}

.green {
  background-color:#77dd77;
}

.red {
  background-color:#ff6666;
}

.yellow {
  background-color:#fdfd96;
}

.orange {
  background-color:#ffb347;
}

/* ------- macros.html -------*/
.day .date {
  display:none;
}

.notification-content:hover {
  background-color: #296d98;
  cursor:pointer;
}

.notification {
  width:100%;
  border-top: solid #2F4F4F 1px;
  border-bottom: solid #2F4F4F 1px;
  font-size:0.7em;
  display:flex;
}

.notification-icon {
  flex:0.1;
}

.notification-content {
  flex:1;
}

.showMore, .showLess {
  font-size:0.7em;
  font-weight:800;
  display:none;
  color:#004C99;
}

.showMore:hover, .showLess:hover {
  cursor:pointer;
  color:#8cd3ff;
}

.upcoming_appointment .date {
  font-size:0.9em;
  float:right;
}

/* ------- core/users.html -------*/
.core-search-users-wrapper .pagination {
    display:flex;
    justify-content:center;
}

.core-user-wrapper .upcoming_appointment {
  width:100%;
  background:rgba(255,255,255,0.5);
  padding:18px;
  margin:6px 0;
  overflow:hidden;
}

.core-user-wrapper .complete .upcoming_appointment {
  background:#77dd77;
}

.core-user-wrapper .incomplete .upcoming_appointment {
  background:#ff6666;
}

.user_patients {
  margin-left:20px;
  margin-right:20px;
}

.general-info {
  margin-left:20px;
  margin-right:20px;
}

.core-user-wrapper .user_patient {
  width:100%;
  background:rgba(255,255,255,0.5);
  padding:18px;
  margin:6px 0;
  overflow:hidden;
}

.core-user-wrapper .user_patient {
  width:100%;
  background:rgba(255,255,255,0.5);
  padding:18px;
  margin:6px 0;
  overflow:hidden;
}

[data-tab-content] {
  display:none;
}

.active[data-tab-content] {
  display:block;
}

.tabs {
  display:flex;
  justify-content:space-around;
  list-style-type:none;
  margin:0;
  padding:0;
  border-bottom: solid black 1px;
}

.tab {
  cursor:pointer;
  padding:10px;
}

.tab:hover {
  background-color: rgb(255, 255, 255);
}

.tab.active {
  background-color: rgb(255, 255, 255);
}

.tab-content {
  margin-left:20px;
  margin-right:20px;
}

.core-user-wrapper .col-12 {
  margin-bottom:37px;
}

.core-user-wrapper h4 {
  font-weight:700;
}

