{% extends "base.html" %}
{% import 'macros.html' as macros %}
{% block content %}
<div class="patient-notes-list-wrapper">
<div class="container patient-notes-list-wrapper">
  <h1 class="text-center">
    Patient Notes for {{patient.first_name}} {{patient.last_name}}
  </h1>
  <ul class="notes">
    {% for patient_note in patient_notes %}
    <li class="note">
      <div class="note-content">
        <div class="note-date">
          <div class="row">
            <div class="col-12 col-md-12 date">
            <span class="bold">Date Added</span> {{moment(patient_note.date_added).format('LLL')}}
            </div>
            <div class="col-12 col-md-12 date">
            <span class="bold">Last Edited</span> {{moment(patient_note.date_modified).format('LLL')}}
            </div>
          </div>
        </div>
        <div class="note-author">
          {{patient_note.user.username}}
        </div>
        <div class="note-title">
          {{patient_note.title}}
        </div>
        <div class="note-body">
          {{patient_note.notes}}
        </div>
      </div>
    {% endfor %}
  </ul>
</div>

{{macros.pagination_widget(pagination,'patient_notes.list',patient_id=patient.id)}}
</div>
{% endblock %}