{% extends "base.html" %}
{% block content %}
<div class="container">
  <h1>
    Patient Notes for {{patient.first_name}} {{patient.last_name}}
  </h1>
  <hr>
  <ul class="notes">
    {% for patient_note in patient_notes %}
    <li class="note">
      <div class="note-content">
        <div class="note-date">
          Added: {{patient_note.date_added}}
          Modified: {{patient_note.date_modified}}
        </div>
        <div class="note-author">
          {{patient_note.user.username}}
        </div>
        <div class="note-title">
          {{patient_note.title}}
        </div>
        <div class="note-body">
          {{patient_note.notes}}
        </div>
      </div>
    {% endfor %}
  </ul>
</div>
{% endblock %}