{% extends "base.html" %}
{% import 'macros.html' as macros %}
{% block content %}

<!-- Modal for Appointment Form -->
<div class="modal" tabindex="-1" role="dialog" id='appointment-form'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create Appointment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
        <form method="POST">

          {{form.hidden_tag()}}

          <div class="form-group">
          {{form.title.label}}
          {{form.title(class="form-control")}}
          </div>
          
          <div class="form-group">
          {{form.description.label}}
          {{form.description(class="form-control")}}
          </div>

          <div class="form-group">
          {{form.patient.label}}
          {{form.patient(class="form-control")}}
          </div>

          <div class="form-group">
          {{form.treatment.label}}
          {{form.treatment(class="form-control")}}
          </div>

          <div class="form-group">
          {{form.date_start.label}}
          {{form.date_start(class="form-control")}}
          </div>

          <div class="form-group">
          {{form.date_end.label}}
          {{form.date_end(class="form-control")}}
          </div>
          {{form.submit(class="btn btn-primary")}}
        </form>

        </div>
    </div>
  </div>
</div>

<!-- Modal for Appointment Information -->
<div class="modal" tabindex="-1" role="dialog" id='appointment-info-modal'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title appointment-info-modal-title">Appointment Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
          <h5 id="appointment-info-modal-title"></h5>
          <br>
          <p id="appointment-info-modal-date-start"></p>
          <p id="appointment-info-modal-date-end"></p>
          <p id="appointment-info-modal-treatment"></p>
          <p id="appointment-info-modal-patient"></p>
          <p id="appointment-info-modal-user"></p>
          <p id="appointment-info-modal-description"></p>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Edit</button>
      </div>        
    </div>
  </div>
</div>

<h1 class="text-center">{{month_str}} {{year_str}}</h1>
<div class="month-wrapper container">
<div class="month text-center">
  {% include 'calendars/_week_header.html' %}
  <div class="weeks">
    {% for week in weeks %}
    <div class="week">
      {% for day in week %}
        {{macros.load_day(day,appointments[day])}}
      {% endfor %}
    </div>
    {% endfor %}
  </div>

</div>
</div>
{% endblock %}