{% extends "base.html" %}
{% block content %}
<div class="core-index-wrapper">
  <div class="row">
    <div class="col-12 text-center">
      <h1>Welcome to MediCal.</h1>
    </div>
    <div class="col-4"></div>
    <div class="col-4 text-center margin-top">
      <h5>A Calendar Web Application Designed For Medical Contexts.</h5>
    </div>
    <div class="col-4"></div>
    <div class="col-12 text-center margin-top">
      <button class="btn btn-info">GET STARTED</button>
    </div>
  </div>
</div>
{% endblock %}