{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% block content %}
<div class="core-user-wrapper">
  <div class="container text-center">
    <h1>Profile Page for {{user.username}}</h1>
    <hr>
  </div>

  <div class="container">
    <div class="row>">
      <!-- General Profile Information -->
      <div class="col-12 margin-top">
        <h4 class"text-center">General Profile Information</h4>
        <div class="general-info">
          <p>Name: {{user.first_name}} {{user.last_name}}</p>
          <p>Email: {{user.email}}</p>
        </div>
      </div>
      <!-- Upcoming Appointments -->
      <div class="col-12">
        <div class="upcoming_appointments">
          <h4 class"text-center">Upcoming Appointments</h4>
          <ul class="tabs">
            <li data-tab-target="#today" class="active tab">Today</li>
            <li data-tab-target="#seven_days" class="tab">Next Seven Days</li>
            <li data-tab-target="#thirty_days" class="tab">Next Thirty Days</li>
          </ul>

          <div class="tab-content">
            <div id="today" data-tab-content class="active pre-scrollable">
              <h5>Complete</h5>
              <div class="complete">
              {{macros.upcoming_appointment_widget(today_appointments_complete)}}
              </div>
              <h5>Incomplete</h5>
              <div class="incomplete">
              {{macros.upcoming_appointment_widget(today_appointments_incomplete)}}
              </div>
            </div>
            <div id="seven_days" data-tab-content class="pre-scrollable">
              <h5>Complete</h5>
              <div class="complete">
                {% for day in seven_days %}
                {{macros.upcoming_appointment_widget(seven_days_appointments_complete[day])}}
                {% endfor %}
              </div>
              <h5>Incomplete</h5>
              <div class="incomplete">
              {% for day in seven_days %}
              {{macros.upcoming_appointment_widget(seven_days_appointments_incomplete[day])}}
              {% endfor %}            
              </div>
            </div>
            <div id="thirty_days" data-tab-content class="pre-scrollable">
              <h5>Complete</h5>
              <div class="complete">
              {% for day in thirty_days %}
              {{macros.upcoming_appointment_widget(thirty_days_appointments_complete[day])}}
              {% endfor %}
              </div>
              <h5>Incomplete</h5>
              <div class="incomplete">
              {% for day in thirty_days %}
              {{macros.upcoming_appointment_widget(thirty_days_appointments_incomplete[day])}}
              {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Patients List -->
      <div class="col-12">
        <h4>User Patients</h4>
        <div class="user_patients">
          <div class="pre-scrollable">
          {% for patient in patients %}
          <div class="user_patient">
            <a href="{{url_for('patients.patient',id=patient.id)}}">
              {{patient.fullname}}
            </a>
          </div>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
{% endblock %}