{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% block content %}
<div class="core-user-wrapper">
  <div class="container text-center">
    <h1>Profile Page for {{user.username}}</h1>
    <hr>
  </div>

  <div class="container">
    <div class="row>">
      <!-- General Profile Information -->
      <div class="col-12 margin-top">
        <h4 class"text-center">General Profile Information</h4>
        <div class="general-info">
          <p>Name: {{user.first_name}} {{user.last_name}}</p>
          <p>Email: {{user.email}}</p>
        </div>
      </div>

      <!-- Patients List -->
      <div class="col-12">
        <h4>User Patients</h4>
        <div class="user_patients">
          <div class="pre-scrollable">
          {% for patient in patients %}
          <div class="user_patient">
            <a href="{{url_for('patients.patient',id=patient.id)}}">
              {{patient.fullname}}
            </a>
          </div>
          {% endfor %}
          </div>
        </div>
      </div>

      <!-- Upcoming Appointments -->
      <div class="col-12">
        <div class="upcoming_appointments">
          <h4 class"text-center">Upcoming Appointments</h4>
          <div id='calendar'></div>
        </div>
      </div>
    </div>
  </div>


</div>

<!-- Tag to identify whose information to retrieve in calendar widget-->
<div id="calendar-tag" model="user" model_id="{{user.id}}"></div>

{% endblock %}

{% block scripts %}
<script src="{{url_for('static',filename='js/staticCalendar.js')}}"></script>
{% endblock %}