<form class="form-inline" method="POST">
  {{form2.hidden_tag()}}
  <label class="my-1 mr-2" for="inlineFormCustomSelectUser">{{form2.user.label}}</label>
  {{form2.user(class="custom-select my-1 mr-sm-2 user")}}

  <label class="my-1 mr-2" for="inlineFormCustomSelectPatient">{{form2.patient.label}}</label>
  {{form2.patient(class="custom-select my-1 mr-sm-2 patient")}}

  <label class="my-1 mr-2" for="inlineFormCustomSelectTreatment">{{form2.treatment.label}}</label>
  {{form2.treatment(class="custom-select my-1 mr-sm-2 treatment")}}

  <label class="my-1 mr-2" for="inlineFormCustomSelectTreatment">{{form2.status.label}}</label>
  {{form2.status(class="custom-select my-1 mr-sm-2 status")}}

  {{form2.submit2(class="btn btn-primary")}}
</form>