{% extends "base.html" %}
{% import 'macros.html' as macros %}
{% block content %}

{% include 'appointments/_appointment_modals.html' %}

<!-- Calendar Header -->
<div class="row margin">
  <div class="col-12">
    {{macros.calendar_header_widget(day.year,num_to_month[day.month],get_prev_week(day.year,day.month,day.day),get_prev_day(day.year,day.month,day.day),get_next_day(day.year,day.month,day.day),get_next_week(day.year,day.month,day.day),'appointments.list_day')}}
  </div>
  <div class="col-12 text-center">
    <button type="button" class="btn btn-info create-appointment-btn" data-toggle="modal" data-target="#appointment-form">
      CREATE APPOINTMENT
    </button>
    {{macros.view_button_widget(year=day.year,month=day.month,day=day.day)}}
  </div>
  <div class="col-12 text-center margin-top">
    {% include 'appointments/_filter_dropdown.html' %}
  </div>



  <div class="col-12 text-center messages">
    {% for message in messages %}
      {{message}}
      <br>
    {% endfor %}
  </div>  
</div>
 
{% include 'calendars/_day.html' %}
{% endblock %}