{% extends "base.html" %}
{% import 'macros.html' as macros %}
{% block content %}

{% include 'appointments/_appointment_modals.html' %}

<!-- Calendar Header -->
<div class="row margin">
  <div class="col-12">
    {{macros.calendar_header_widget(year,num_to_month[month],get_prev_year(year,month),get_prev_month(year,month),get_next_month(year,month),get_next_year(year,month),'appointments.list_month')}}
  </div>
  <div class="col-12 text-center">
    <button type="button" class="btn btn-info create-appointment-btn" data-toggle="modal" data-target="#appointment-form">
      CREATE APPOINTMENT
    </button>
    {{macros.view_button_widget(year=year,month=month,day=1)}}
  </div>
  <div class="col-12 text-center margin-top">
    <form method="POST">
      {{form2.hidden_tag()}}
      {{form2.user.label}}{{form2.user()}}
      {{form2.patient.label}}{{form2.patient()}}
      {{form2.treatment.label}}{{form2.treatment()}}
      {{form2.filter(class="btn btn-info")}}
    </form>
  </div>
  <div class="col-12 text-center messages">
    {% for message in messages %}
      {{message}}
      <br>
    {% endfor %}
  </div>
</div>
 
{% include "calendars/_month.html" %}
{% endblock %}